## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
numero=3
print(numero)

3

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
type(numero)

int

4) Crear una variable que contenga tu nombre

In [7]:
nombre="octavio"

5) Crear una variable que contenga un número complejo

In [8]:
numComplejo=4798

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(numComplejo)

int

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
opcion1="True"
opcion2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
print("La opcion1 es de valor: ", type(opcion1), "y la variable opcion 2 es de tipo: ", type(opcion2))

La opcion1 es de valor:  <class 'str'> y la variable opcion 2 es de tipo:  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [13]:
numero+4+3,56

(10, 56)

11) Realizar una operación de suma de números complejos

In [14]:
a=24 + 5j
b=45 + 4j
print(a+b)

(69+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
x=5
y=7j
print(x+y)

(5+7j)

13) Realizar una operación de multiplicación

In [16]:
multi=5*5
print(multi)

25

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
o=2**8
print(o)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
d=27/4
print(d)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
num=4*6+3
print(num)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [22]:
var1="Hola "
var2="Buenos dias!!!"
print(var1+var2)

Hola Buenos dias!!!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [23]:
"2"==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [24]:
2==int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [25]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
far=3
far-=1
print(far)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
2+int("3")

5